anytree>=2.8.0
appdirs>=1.4.4
Babel>=2.9.1
blinker>=1.4
CacheControl>=0.12.6
cachelib>=0.3.0
cachetools>=4.2.2
certifi>=2020.12.5
chardet>=4.0.0
click>=7.1.2
colorama>=0.4.4
contextlib2>=0.6.0
distlib>=0.3.1
distro>=1.5.0
emoji>=0.6.0
feedparser>=6.0.8
filelock>=3.0.12
filetype>=1.0.7
Flask>=1.1.4
Flask-Assets>=2.0
Flask-Babel>=1.0.0
Flask-Login>=0.5.0
future>=0.18.2
html5lib>=1.1
idna>=3.2
ifaddr>=0.1.7
immutabledict>=1.3.0
itsdangerous>=1.1.0
Jinja2>=2.11.3
lockfile>=0.12.2
Markdown>=3.1.1
MarkupSafe>=1.1.1
msgpack>=1.0.2
netaddr>=0.8.0
netifaces>=0.11.0
ordered-set>=4.0.2
oyaml>=1.0
packaging>=20.9
pathtools>=0.1.2
pep517>=0.10.0
pkginfo>=1.7.1
progress>=1.5
psutil>=5.8.0
pylru>=1.2.0
pyparsing>=2.4.7
pyserial>=3.5
pytz>=2021.1
PyYAML>=5.4.1
regex>=2021.8.28
requests>=2.25.1
retrying>=1.3.3
sarge>=0.1.5.post0
semantic-version>=2.8.5
sentry-sdk>=0.20.3
sgmllib3k>=1.0.0
six>=1.15.0
structlog>=21.1.0
tabulate>=0.8.9
toml>=0.10.2
tornado>=5.1.1
Unidecode>=0.4.21
urllib3>=1.26.5
virtualenv>=20.4.2
watchdog>=0.10.4
webassets>=2.0
webencodings>=0.5.1
websocket-client>=0.59.0
Werkzeug>=1.0.1
wimpy>=0.6
wrapt>=1.12.1
zeroconf>=0.24.5
zipstream-new>=1.1.8
